html, body{
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  align-items: center;
  background-color: #f4ece4; 
  font-family: 'Rubik', sans-serif;
  color: #333;
  background-image: url('https://img.freepik.com/premium-photo/spicy-spices-cinnamon-sticks-star-anise-dark-wooden-background_78677-3265.jpg?semt=ais_hybrid'); 
  background-size: cover; 
  background-position: center; 
  
}


.container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 60%;
  margin: 5% auto;
  font-family: 'Spectral', serif;
  flex-grow: 1;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: #704214; 
  margin-bottom: 15px;
  margin-top: 0%;
}

.description {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}


button.orderbtn {
  background-color: #a0522d; 
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.orderbtn:hover {
  background-color: #8b4513; 
}


.navbar {
  width: 100%;
  background-color: #d1b593;
  overflow: auto;
  padding: 10px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar a {
  float: left;
  padding: 14px 20px;
  text-align: center;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.navbar a:hover {
  background-color: #a0522d;
  color: white;
}

.navbar a.split {
  float: right;
}


.navbar a i {
  margin-right: 8px;
}

.footer {
  background-color: #704214; 
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  font-size: 14px;
  margin-top: 40px; 
  bottom: 0;
  flex-shrink: 0;
}


@media screen and (max-width: 768px) {
  .container {
      padding: 20px;
      font-size: 18px;
  }

  .navbar a {
      float: none;
      display: block;
      text-align: left;
      padding: 10px;
  }

  button.orderbtn {
      width: 100%;
  }
}

.features-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f9f9f9;
  padding: 40px;
  max-width: 100%;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.feature-item {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  width: 15%;
  transition: transform 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-5px);
}

.feature-icon {
  font-size: 50px;
  color: #ff8c00; 
  margin-bottom: 15px;
}

.feature-item h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 14px;
  color: #666;
}
